.bg{
    &-orange{
        background-color: $color__orange!important;
    }
}
.border{
    &-orange{
        border-color: $color__orange!important;
    }
}
.branches{
    &-s3{
        background-position: right!important;
    }
}
.contact{
    &-s1,&-s2{
        & *{
            color: #fff!important;
            text-shadow: $text-shadow;
        }
        background-color: #777!important;
        background-blend-mode: multiply;
    }
    &-s3{
        background-color: #777!important;
        background-blend-mode: multiply;
    }
}
.index,.branches,.login{
    &-s1{
        background-color: #777!important;
        background-blend-mode: multiply;
    }
}
.rolls{
    &-s1,&-s3,&-s5{
        background-position: right!important;
    }
}
.text{
    &-orange{
        color: $color__orange!important;
    }
}
footer{
    *,.fa,.text-white{
        color: $color__orange!important;
    }
    .border-top{
        border-color: $color__orange!important;
    }
    &.bg-dark{
        background-color: #000!important;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    color: $color__orange!important;
    font-family: "Marhey";
    letter-spacing: 1px;
}
header{
    z-index: 100;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .branches{
        &-s1,&-s3{
            & *{
                color: #fff!important;
                text-shadow: $text-shadow;
            }
            background-color: #777!important;
            background-blend-mode: multiply;
        }
    }
    .navbar{
        &-nav{
            background-color: #333;
            border: 1px solid #555;
            opacity:0.8;
            padding-right: 10px;
        }
    }
    .rolls{
        &-s1,&-s3,&-s4,&-s5{
            & *{
                color: #fff!important;
                text-shadow: $text-shadow;
            }
            background-color: #777!important;
            background-blend-mode: multiply;
        }
    }
}